<div class="container full">
    <div class="menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <li><a href="#inicio">Início</a></li>
                        <li>
                            <a href="#projetos">Projetos</a>
                            <!-- <ul>
                                <li></li>
                            </ul> -->
                        </li>
                        <li><a href="#cursos">Cursos</a></li>
                        <li><a href="#contatos">Contato</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
