<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="titulos">
                <p>Olá, sou João Pedro!</p>
                <h3>Desenvolvedor Front end</h3>
                <p><a href="">Baixar Cúrriculo</a></p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img src="assets/img/foto.jpg" alt="" class="sobreImg">
        </div>
        <div class="col-md-7">
            <div class="sobreSecao">
                <h3><i class="fa-solid fa-caret-right"></i> Sobre</h3>
                <p>Desenvolvedor Front-end Júnior com experiência em Javascript</p>
                <p>Em 2022, iniciei meus estudos na programação e atualmente desenvolvo websites institucionais e de anúncios completos e gerenciáveis com utilização de <font class="fTema"> HTML, CSS3, PHP e MySQL</font>.</p>
                <p>Além disso, supervisiono a equipe de desenvolvimento para entrega dos projetos e demais demandas do dia a dia no prazo estipulado. Também possuo conhecimento em Javascript e recentemente iniciei os estudos em <font class="fTema"> Angular com Typescript</font>.</p>
            </div>
        </div>
    </div>
</div>

<div class="container full">
    <div class="experiencia">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="experienciaDescricao">
                        <p><i class="fa-sharp fa-solid fa-plus fTema"></i> 01</p>
                        <p>Anos de desenvolvimento</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="experienciaDescricao">
                        <p><i class="fa-sharp fa-solid fa-plus fTema"></i> 10</p>
                        <p>Projetos realizados</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="experienciaDescricao">
                        <p><i class="fa-sharp fa-solid fa-plus fTema"></i> 02</p>
                        <p>Projetos em desenvolvimento</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="experienciaDescricao">
                        <p><i class="fa-sharp fa-solid fa-plus fTema"></i> 02</p>
                        <p>Cursos realizados</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="cursos">
    <div class="row cursos">
        <div class="col-xs-12">
            <h3 class="cursosSecao"><i class="fa-solid fa-caret-right"></i> Cursos já Realizados</h3>
        </div>
        <div class="col md-4">
            <div class="cursosDescricao">
                <p>Santander Bootcamp Fullstack Developer</p>
                <a href="https://www.dio.me/certificate/036B2456/share" target="_blank"><img src="assets/img/santander.jpg" alt=""></a>
                <p>Curso de 120 horas ministrado pela Dio para conhecimento e aplicação de HTML5, CSS3, Javascript, Angular, Java e SpringBoot.</p>
            </div>
        </div>
        <div class="col md-4">
            <div class="cursosDescricao">
                <p>Potência Tech Angular Developer</p>
                <a href="https://www.dio.me/certificate/07E86D0F/share" target="_blank"><img src="assets/img/angular.jpg" alt=""></a>
                <p>Curso de 75 horas ministrado pela Dio para conhecimento e aplicação de Javascript, Angular e Typescript.</p>
            </div>
        </div>
        <div class="col md-4">
            <div class="cursosDescricao">
                <p>Santander Bootcamp Fullstack</p>
                <a href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-51d39d1a-d314-4e2c-a877-925d8a8a421e.pdf" target="_blank"><img src="assets/img/php.jpg" alt=""></a>
                <p>Curso de 16 horas para conhecimento dos comandos essenciais de PHP e MySQL com finalidade de construir um sistema.</p>
            </div>
        </div>
    </div>
</div>

<div class="container full">
    <div class="conhecimentos">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3><i class="fa-solid fa-caret-right"></i> Conhecimentos</h3>
                </div>
            </div>
            <div class="conhecimentosDescricao">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <div class="conhecimentosImg">
                        <img src="assets/img/html.png" width="40%" alt="">
                        <p>HTML5</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="conhecimentosImg">
                        <img src="assets/img/css.png" width="40%" alt="">
                        <p>CSS3</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="conhecimentosImg">
                        <img src="assets/img/js.png" width="40%" alt="">
                        <p>Javascript</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="conhecimentosImg">
                        <img src="assets/img/ts.png" width="40%" alt="">
                        <p>Typescript</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="conhecimentosImg">
                        <img src="assets/img/angular.png" width="40%" alt="">
                        <p>Angular</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="projetos">
    <div class="projetos">
        <div class="row">
            <div class="col-xs-12">
                <h3><i class="fa-solid fa-caret-right"></i> Meus Projetos</h3>
                <p>Conheça abaixo alguns dos meus projetos que estão ativos.</p>
            </div>
            <div class="col-md-4">
                <div class="projeto">
                    <img src="assets/img/maryhelp.jpg" width="100%" alt="">
                    <p><a href="https://franquiamaryhelp.com.br" target="_blank">Franquia Mary Help</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="projeto">
                    <img src="assets/img/lablife.jpg" width="100%" alt="">
                    <p><a href="https://lablifeandradina.com.br" target="_blank">Lab Life Andradina</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="projeto">
                    <img src="assets/img/vilarejo.jpg" width="100%" alt="">
                    <p><a href="https://vilarejoandradina.com.br" target="_blank">Vilarejo</a></p>
                </div>
            </div>
            <p class="btn"><a href="">Todos os projetos</a></p>
        </div>
    </div>
</div>

<div class="container full" id="contatos"> 
    <div class="contato">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3><i class="fa-solid fa-caret-right"></i> Contato</h3>
                    <p>Fale comigo através do e-mail ou pelas rede sociais.</p>
                </div>
                <div class="col-xs-12">
                    <div class="contatos">
                        <p><a href="mailto:jpfreitass@hotmail.com"><i class="fa fa-envelope-o"></i> E-mail</a></p>
                        <p><a href="https://www.linkedin.com/in/ferreirajoao1996/" target="_blank"><i class="fa fa-linkedin"></i> Linkedin</a></p>
                        <p><a href="https://www.instagram.com/ferreira.joao1996/" target="_blank"><i class="fa fa-instagram"></i> Instagram</a></p>
                        <p><a href="https://github.com/FerreiraJoao1996" target="_blank"><i class="fa fa-github"></i> GitHub</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p class="rodape">&copy; 2023 - Todos os Direitos Reservados.</p>
        </div>
    </div>
</div>